<div class="info_content" data-slug="event-<%= event.id %>">
  <div id="myMenuInfo" class="menuInfo" data-slug="event-<%= event.id %>" onclick="openInfo('event-<%= event.id %>')">
    <div class="bar1"></div>
    <div class="bar2"></div>
  </div>
  <h1><%= event.title %></h1>
  <% if event.speakers.any? %>
    <h3>Speakers</h3>
    <p><%= raw event.speakers.map{ |s| link_to(s.name, s.link, {target: '_blank'})}.join(', ') %></p>
  <% end %>
  <% if event.place.present? %>
    <h3>Local</h3>
    <p><%= event.place %></p>
  <% end %>
  <% if event.start.present? %>
    <h3>Hora</h3>
    <p><%= event.time_range %></p>
  <% end %>
  <% if event.description.present? %>
    <h3>Detalhes</h3>
    <p><%= event.description %></p>
  <% end %>
</div>
