<div class="info_content" data-slug="event-<%= event.id %>">
  <div id="myMenuInfo" class="menuInfo" data-slug="event-<%= event.id %>" onclick="openInfo('event-<%= event.id %>')">
    <div class="bar1"></div>
    <div class="bar2"></div>
  </div>
  <h1><%= event.title %></h1>
  <% if event.location.present? %>
    <h3>Local</h3>
    <p><%= link_to(event.location.name, event.location.google_link, {target: '_blank'}) %></p>
  <% end %>
  <% if event.start.present? %>
    <h3>Hora</h3>
    <p><%= event.time_range %></p>
  <% end %>
  <% if event.description.present? %>
    <h3>Detalhes</h3>
    <p><%= event.description %></p>
  <% end %>
  <% event.speakers.each do |speaker| %>
    <h3><%= link_to(speaker.name, speaker.link, {target: '_blank'}) %></h3>
    <%= render partial: 'pages/partials/speakers/speaker_description', locals: {infos: speaker.person_infos} %>
  <% end %>
</div>
