<div class="square speaker" data-slug="<%= speaker.slug %>" style="background-image: url('<%= speaker.image.attached? ? url_for(speaker.image) : '' %>');" onclick="openInfo('<%= speaker.slug %>')">
  <div class="speaker_info">
    <span class="speaker_name"><%= speaker.name %></span>
    <% if speaker.company.present? %>
      <span class="speaker_company"><%= speaker.company %></span>
    <% end %>
  </div>
</div>
