<div class="info_content" data-slug="<%= speaker.slug %>">
  <div id="myMenuInfo" class="menuInfo" data-slug="<%= speaker.slug %>" onclick="openInfo('<%= speaker.slug %>')">
    <div class="bar1"></div>
    <div class="bar2"></div>
  </div>
  <h1><%= speaker.name %></h1>
  <%= render partial: 'pages/partials/speakers/speaker_description', locals: {infos: speaker.person_infos} %>
</div>
