<div class="square speaker" data-slug="<%= speaker.slug %>" style="background-image: url('<%= speaker.image.attached? ? url_for(speaker.image) : '' %>');" onclick="openInfo('<%= speaker.slug %>')">
  <div class="speaker_info">
    <span class="speaker_name"><%= speaker.name %></span>
    <% if speaker.company.present? %>
      <span class="speaker_company"><%= speaker.company %></span>
    <% end %>
  </div>
  <% if speaker.events.select{ |e| e.event_type == 'Workshop' }.any? %>
    <div class="activity_info">
      <span class="speaker_name">Workshop</span>
    </div>
  <% end %>
  <% if speaker.events.select{ |e| e.event_type == 'Panel' }.any? %>
    <div class="activity_info">
      <span class="speaker_name">Painel</span>
    </div>
  <% end %>
</div>
