<div id="myNavbar" class="item navbar right">
  <div id="myHeader" class="item header center">
    <%= link_to root_path do %>
    <h2>ENEMM'19</h2>
    <% end %>
  </div>
  <div>
    <div class="bs">
      <%= link_to 'Sobre', about_path, class:"menu_links--about" %>
      <%= link_to 'Programa', schedule_path, class:"menu_links--schedule" %>
      <%= link_to 'Oradores', speakers_path, class:"menu_links--speakers" %>
      <%= link_to 'Embaixadores', ambassadors_path, class:"menu_links--ambassadors" %>
      <%= link_to 'Bilheteira', '//tickets.enemm.pt', target:"_blank" %>
      <% if user_signed_in? %>
        <%= link_to 'Admin', admin_root_path, class: "menu_links--about" %>
      <% end %>
    </div>
    <div class="ss">
      <div id="mySidenav" class="sidenav">
        <div class="lazy">
          <div class="menu_title center">
            <h2>ENEMM'19</h2>
          </div>
        </div>
        <div class="menu_links">
          <%= link_to about_path do %>
          <h1>Sobre</h1>
          <% end %>
          <%= link_to schedule_path do %>
          <h1>Programa</h1>
          <% end %>
          <%= link_to speakers_path do %>
          <h1>Oradores</h1>
          <% end %>
          <%= link_to ambassadors_path do %>
          <h1>Embaixadores</h1>
          <% end %>
          <%= link_to '//tickets.enemm.pt', target:"_blank" do %>
          <h1>Bilheteira</h1>
          <% end %>
          <% if user_signed_in? %>
          <%= link_to admin_root_path do%>
          <h1>Admin</h1>
          <% end %>
        <% end %>
        </div>
      </div>
      <div id="myMenuIcon" class="menuIcon" onclick="toggleMenu(this), openNav(this)">
        <div id="myMenuIcon1" class="bar1"></div>
        <div id="myMenuIcon2" class="bar2"></div>
        <div id="myMenuIcon3" class="bar3"></div>
      </div>
      <script>
        function toggleMenu(x) {
          $(x).toggleClass('change');
        }
        function openNav() {
          document.getElementById("mySidenav").classList.toggle("sidenavtoogle");
          document.getElementById("myMenuIcon").classList.toggle("menuIcontooglePosition");
          document.getElementById("myMenuIcon1").classList.toggle("menuIcontoogle");
          document.getElementById("myMenuIcon2").classList.toggle("menuIcontoogle");
          document.getElementById("myMenuIcon3").classList.toggle("menuIcontoogle");
        }
      </script>
    </div>
  </div>
</div>
