<%= stylesheet_link_tag    'pages', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="container">
  <div class="item header">
    <div class="title center">
      <h1>ENEMM'19</h1>
    </div>
  </div>
  <div class="item logo info center hidden-bc">
    <img src="<%= image_path('logo-small.svg') %>">
    <div class="top">
      <h1>Encontro Nacional<br/>Estudantes Multimédia</h1>
    </div>
    <div class="bottom">
      <div class="location">
        <h2>coimbra</h2>
      </div>
      <div class="date">
        <h2>março/abril<br/>2019</h2>
      </div>
    </div>
  </div>
  <div class="item logo center hidden-mc hidden-sc">
    <img src="<%= image_path('logo.svg') %>">
  </div>
  <div class="item info hidden-mc hidden-sc">
    <div class="top">
      <h1>Encontro Nacional<br/>Estudantes Multimédia</h1>
    </div>
    <div class="bottom">
      <div class="location">
        <h2>coimbra</h2>
      </div>
      <div class="date">
        <h2>março/abril<br/>2019</h2>
      </div>
    </div>
  </div>
  <div class="item matrix">
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square line-sc"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square hidden-sc"></div>
    <div class="square hidden-sc"></div>
    <div class="square hidden-sc"></div>
    <div class="square hidden-sc"></div>
    <div class="square hidden-sc"></div>
    <div class="square hidden-sc"></div>
    <div class="square hidden-sc"></div>
    <div class="square hidden-sc"></div>
    <div class="square hidden-sc"></div>
    <div class="square hidden-sc"></div>
    <div class="square hidden-sc"></div>
    <div class="square hidden-sc"></div>
    <div class="square hidden-sc"></div>
    <div class="square hidden-sc"></div>
    <div class="square line hidden-sc"></div>
  </div>
  <div class="item description">
    <h3>Sobre</h3>
    <p>O ENEMM - Encontro Nacional de Estudantes de Multimédia - é um evento que visa reunir anualmente os entusiastas da área da Multimédia, com principal foco nos estudantes do ensino superior dos cursos relacionados com Multimédia em Portugal.</p>
  </div>
  <div class="item hidden-mc hidden-sc"></div>
  <div class="item contact">
    <h3>Fica a par das novidades</h3>
    <div class="social">
      <p>Nas redes sociais</p>
      <div class="social-logos">
        <a href="https://www.facebook.com/enemm.multimedia" target="_blank">
          <img src="<%= image_path('facebook.svg') %>">
        </a>
        <a href="https://www.instagram.com/enemm.multimedia" target="_blank">
          <img src="<%= image_path('instagram.svg') %>" alt="">
        </a>
<!--a href="" target="_blank">
<img src="assets/img/youtube.svg" alt="">
</a-->
</div>
</div>
<div class="mailing">
  <p>Na nossa mailing list</p>
  <form action="https://enemm.us19.list-manage.com/subscribe/post-json?u=b6de72300788c2d567a4b1122&amp;id=92d7cd65ef&amp;c=?" method="get" target="_blank" class="mailchimp" id="mailchimp_form" novalidate>
    <input type="email" value="" name="EMAIL" class="email" placeholder="Insere o teu e-mail" required>
    <input type="submit" value="Subscrever" name="subscribe" class="button">
  </form>
</div>
</div>
<div class="item secondmatrix hidden-mc hidden-sc">
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square rectangle"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
</div>
<div class="item callfortalk">
  <h3>Faz parte do evento</h3>
  <div class="mailing">
    <p>Call for talks</p>
    <%= render partial: 'talk_suggestion_form', locals: {talk_suggestion: @talk_suggestion} %>
  </div>
</div>
<div class="item hidden-mc hidden-sc"></div>
<div class="item hidden-mc hidden-sc"></div>
<div class="item hidden-mc hidden-sc"></div>
<div class="item sponsor">
  <h3>Patrocina-nos</h3>
  <div class="subscribe-botton">
    <p><input type="submit" value="Mais informação" name="subscribe" class="button"></p>
  </div>
  <div class="mailing">
    <h3>Contacto</h3>
    <p>geral@enemm.pt</p>
  </div>
</div>
<div class="item footer">
  <small>Made with ♥ by <a href="https://nei.dei.uc.pt" target="_blank">NEI/AAC</a></small>
</div>
</div>
<%= javascript_include_tag 'pages', 'data-turbolinks-track': 'reload' %>
