<%= stylesheet_link_tag    'pages', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag    'schedule', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="container">
  <%= render partial: 'navbar' %>
  <div id="myTitle" class="item title right">
    <h1>Programa</h1>
  </div>
  <div id="myHiddsen" class="item hidden"></div>
  <div id="myMatrix_Hidden" class="item matrix_hidden">
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
  </div>
  <div class="tab">
    <button class="tablinks" onclick="openDay(event, 'firstday')" id="defaultOpen">1 Março</button>
    <button class="tablinks" onclick="openDay(event, 'secondday')">2 Março</button>
    <button class="tablinks" onclick="openDay(event, 'thirdday')">3 Março</button>
    <button class="tablinks" onclick="openDay(event, 'forthday')">4 Março</button>
    <button class="tablinks_hidden" onclick="openDay(event, 'firstday')">1</button>
    <button class="tablinks_hidden" onclick="openDay(event, 'secondday')">2</button>
    <button class="tablinks_hidden" onclick="openDay(event, 'thirdday')">3</button>
    <button class="tablinks_hidden" onclick="openDay(event, 'forthday')">4</button>
  </div>
  <div id="firstday" class="tabcontent">
    <div class="matrix_day1 item">
      <% events_day1 = @events[1] %>
      <% events_day1.each do |event| %>
        <div class="activity_info right">
          <p><%= event.time_range %></p>
        </div>
        <div class="activity_info open_info" onclick="openInfo()">
          <p><%= event.title %></p>
        </div>
        <div class="activity_info_hidden" onclick="openInfo()">
          <p><%= event.time_range %></p>
          <p><%= event.title %></p>
        </div>
      <% end %>
    </div>
  </div>
  <div id="secondday" class="tabcontent">
    <div class="matrix_day2 item">
      <% events_day2 = @events[2] %>
      <% events_day2_by_hour = events_day2.group_by(&:start) %>
      <% events_day2_by_hour.each do |slot| %>
        <% if slot[1].count == 1 %>
          <% event = slot[1][0] %>
          <div class="activity_info right">
            <p><%= event.time_range %></p>
          </div>
          <div class="activity_info open_info" onclick="openInfo()">
            <% if event.event_type == 'Panel' %>
              <div>
                <p><%= event.title %></p>
                <h5>Conversa aberta — <%= event.speakers.map(&:name).join(', ') %></h5>
              </div>
            <% else %>
              <p><%= event.title %></p>
            <% end %>
          </div>
          <div class="activity_info_hidden" onclick="openInfo()">
            <p><%= event.time_range %></p>
            <p><%= event.title %></p>
            <% if event.event_type == 'Panel' %>
              <h5>Conversa aberta — <%= event.speakers.map(&:name).join(', ') %></h5>
            <% end %>
          </div>
        <% else %>
          <div class="activity_info right">
            <p><%= slot[1].first.time_range %></p>
          </div>
          <div class="activity_info talks">
            <% slot_events = slot[1].group_by(&:track) %>
            <% slot_events.each do |track| %>
              <div class="talk_info">
                <h4>Talks - <%= track[1][0].track %></h4>
                <% track[1].sort_by(&:position).each do |event| %>
                  <div>
                    <p onclick="openInfo()"><%= event.title %></p>
                    <% if event.speakers.any? %>
                      <h5><%= event.speakers.map(&:name).join(', ') %></h5>
                    <% else %>
                      <h5>Por Anunciar</h5>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="activity_info_hidden talks">
            <p><%= slot[1].first.time_range %></p>
            <% slot_events.each do |track| %>
              <div class="talk_info">
                <h4>Talks - <%= track[1][0].track %></h4>
                <% track[1].sort_by(&:position).each do |event| %>
                  <div>
                    <p onclick="openInfo()"><%= event.title %></p>
                    <% if event.speakers.any? %>
                      <h5><%= event.speakers.map(&:name).join(', ') %></h5>
                    <% else %>
                      <h5>Por Anunciar</h5>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div id="thirdday" class="tabcontent">
    <div class="matrix_day3 item">
      <% events_day3 = @events[3] %>
      <% events_day3_by_hour = events_day3.group_by(&:start) %>
      <% events_day3_by_hour.each do |slot| %>
        <% if slot[1].count == 1 %>
          <% event = slot[1][0] %>
          <div class="activity_info right">
            <p><%= event.time_range %></p>
          </div>
          <div class="activity_info open_info" onclick="openInfo()">
            <% if event.event_type == 'Panel' %>
              <div>
                <p><%= event.title %></p>
                <h5>Conversa aberta — <%= event.speakers.map(&:name).join(', ') %></h5>
              </div>
            <% else %>
              <p><%= event.title %></p>
            <% end %>
          </div>
          <div class="activity_info_hidden" onclick="openInfo()">
            <p><%= event.time_range %></p>
            <p><%= event.title %></p>
            <% if event.event_type == 'Panel' %>
              <h5>Conversa aberta — <%= event.speakers.map(&:name).join(', ') %></h5>
            <% end %>
          </div>
        <% else %>
          <div class="activity_info right">
            <p><%= slot[1].first.time_range %></p>
          </div>
          <div class="activity_info talks">
            <% slot_events = slot[1].group_by(&:track) %>
            <% slot_events.each do |track| %>
              <div class="talk_info">
                <h4>Talks - <%= track[1][0].track %></h4>
                <% track[1].sort_by(&:position).each do |event| %>
                  <div>
                    <p onclick="openInfo()"><%= event.title %></p>
                    <% if event.speakers.any? %>
                      <h5><%= event.speakers.map(&:name).join(', ') %></h5>
                    <% else %>
                      <h5>Por Anunciar</h5>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="activity_info_hidden talks">
            <p><%= slot[1].first.time_range %></p>
            <% slot_events.each do |track| %>
              <div class="talk_info">
                <h4>Talks - <%= track[1][0].track %></h4>
                <% track[1].sort_by(&:position).each do |event| %>
                  <div>
                    <p onclick="openInfo()"><%= event.title %></p>
                    <% if event.speakers.any? %>
                      <h5><%= event.speakers.map(&:name).join(', ') %></h5>
                    <% else %>
                      <h5>Por Anunciar</h5>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div id="forthday" class="tabcontent">
    <div class="matrix_day4 item">
      <% events_day4 = @events[4] %>
      <% events_day4_by_hour = events_day4.group_by(&:start) %>
      <% events_day4_by_hour.each do |slot| %>
        <% if slot[1].count == 1 %>
          <% event = slot[1][0] %>
          <div class="activity_info right">
            <p><%= event.time_range %></p>
          </div>
          <div class="activity_info open_info" onclick="openInfo()">
            <% if event.event_type == 'Panel' %>
              <div>
                <p><%= event.title %></p>
                <h5>Conversa aberta — <%= event.speakers.map(&:name).join(', ') %></h5>
              </div>
            <% else %>
              <p><%= event.title %></p>
            <% end %>
          </div>
          <div class="activity_info_hidden" onclick="openInfo()">
            <p><%= event.time_range %></p>
            <p><%= event.title %></p>
            <% if event.event_type == 'Panel' %>
              <h5>Conversa aberta — <%= event.speakers.map(&:name).join(', ') %></h5>
            <% end %>
          </div>
        <% else %>
          <div class="activity_info right">
            <p><%= slot[1].first.time_range %></p>
          </div>
          <div class="activity_info workshops">
            <% slot_events = slot[1] %>
            <% slot_events.each do |event| %>
              <div class="workshop_info">
                <h4>Workshop</h4>
                <div>
                  <p onclick="openInfo()"><%= event.title %></p>
                  <% if event.speakers.any? %>
                    <h5><%= event.speakers.map(&:name).join(', ') %></h5>
                  <% else %>
                    <h5>Por Anunciar</h5>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="activity_info_hidden workshops">
            <p><%= slot[1].first.time_range %></p>
            <% slot_events.each do |event| %>
              <div class="talk_info">
                <h4>Workshop</h4>
                <div>
                  <p onclick="openInfo()"><%= event.title %></p>
                  <% if event.speakers.any? %>
                    <h5><%= event.speakers.map(&:name).join(', ') %></h5>
                  <% else %>
                    <h5>Por Anunciar</h5>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div id="forthday" class="tabcontent">
    <div class="matrix_day4 item">
      <div class="activity_info right">
        <p>10:00 - 13:00</p>
      </div>
      <div class="activity_info open_info" onclick="openInfo()">
        <p>Workshops</p>
      </div>
      <div class="activity_info right">
        <p>13:00 - 14:00</p>
      </div>
      <div class="activity_info open_info" onclick="openInfo()">
        <p>Almoço</p>
      </div>
      <div class="activity_info right">
        <p>13:45 - 16:45</p>
      </div>
      <div class="activity_info open_info" onclick="openInfo()">
        <p>Workshops</p>
      </div>
      <div class="activity_info right">
        <p>16:45 - 17:00</p>
      </div>
      <div class="activity_info open_info" onclick="openInfo()">
        <p>Coffee-break</p>
      </div>
      <div class="activity_info right">
        <p>17:00 - 19:00</p>
      </div>
      <div class="activity_info open_info" onclick="openInfo()">
        <p>Workshops</p>
      </div>
      <div class="activity_info_hidden" onclick="openInfo()">
        <p>10:00 - 13:00</p>
        <p>Workshops</p>
      </div>
      <div class="activity_info_hidden" onclick="openInfo()">
        <p>13:00 - 14:00</p>
        <p>Almoço</p>
      </div>
      <div class="activity_info_hidden" onclick="openInfo()">
        <p>13:45 - 16:45</p>
        <p>Workshops</p>
      </div>
      <div class="activity_info_hidden" onclick="openInfo()">
        <p>16:45 - 17:00</p>
        <p>Coffee-break</p>
      </div>
      <div class="activity_info_hidden" onclick="openInfo()">
        <p>17:00 - 19:00</p>
        <p>Workshops</p>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    function openInfo(slug) {
      console.log("Computer says no.");
    }
    function openDay(evt, dayName) {
      var i, tabcontent, tablinks, tablinks_hidden;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      tablinks_hidden = document.getElementsByClassName("tablinks_hidden");
      for (i = 0; i < tablinks_hidden.length; i++) {
        tablinks_hidden[i].className = tablinks_hidden[i].className.replace(" active", "");
      }
      document.getElementById(dayName).style.display = "block";
      evt.currentTarget.className += " active";
    }
    document.getElementById("defaultOpen").click();
  </script>
  <%#<script>
    function openInfo(slug) {
      if($(".info_content").hasClass('info_show')) {
        $(".info_content").removeClass("info_show");
        $(".info_content-background").hide();

        if(window.history.pushState) {
          window.history.pushState(null, '', '/schedule');
        }
      } else if($(".info_show").length !== 0) {
        $(".info_content").removeClass('info_show');
        $(".info_content").addClass("info_show");

        if(window.history.pushState) {
          window.history.pushState(null, '', '/schedule/');
        }
      } else {
        $(".info_content").addClass("info_show");
        $(".info_content-background").show();

        if(window.history.pushState) {
          window.history.pushState(null, '', '/schedule/');
        }
      }
    }
  </script>%>
  <div id="myFooter" class="item footer right">
    <p>Made with ♥ by <a href="https://nei.dei.uc.pt" target="_blank">NEI/AAC</a></p>
  </div>
</div>

<%= javascript_include_tag 'pages', 'data-turbolinks-track': 'reload' %>
