<%= stylesheet_link_tag    'pages', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag    'speakers', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="container">
  <%= render partial: 'navbar' %>
  <div id="myTitle" class="item title right">
    <h1>Oradores</h1>
  </div>
  <div id="myHidden" class="item hidden"></div>
  <div id="myMatrix_Hidden" class="item matrix_hidden">
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
  </div>
  <div id="myMatrix_Speaker" class="item matrix_speakers">
    <%= render partial: 'pages/partials/speakers/speaker_square', collection: @speakers, as: :speaker %>
    <% (1..(10-@speakers.length)).each do |index| %>
      <div class="square speaker_temp">
        <div class="speaker_info">
          <span class="speaker_name">Por anunciar</span>
        </div>
      </div>
    <% end %>
  </div>
  <%= render partial: 'pages/partials/speakers/speaker_info', collection: @speakers, as: :speaker %>
  <script>
    function openInfo(slug) {
      if($(".info_content[data-slug="+slug+"]").hasClass('info_show')) {
        $(".info_content[data-slug="+slug+"]").removeClass("info_show");
        $(".info_content-background").hide();

        if(window.history.pushState) {
          window.history.pushState(null, '', '/speakers');
        }
      } else if($(".info_show").length !== 0) {
        $(".info_content").removeClass('info_show');
        $(".info_content[data-slug="+slug+"]").addClass("info_show");

        if(window.history.pushState) {
          window.history.pushState(null, '', '/speakers/'+slug);
        }
      } else {
        $(".info_content[data-slug="+slug+"]").addClass("info_show");
        $(".info_content-background").show();

        if(window.history.pushState) {
          window.history.pushState(null, '', '/speakers/'+slug);
        }
      }
    }
  </script>
  <div id="myFooter" class="item footer right">
    <p>Made with ♥ by <a href="https://nei.dei.uc.pt" target="_blank">NEI/AAC</a></p>
  </div>
</div>

<%= javascript_include_tag 'pages', 'data-turbolinks-track': 'reload' %>

<script type="text/javascript">
  $(document).ready(() => {
    var pathname = window.location.pathname;
    var pathname_array = pathname.split('/');
    if(pathname_array.length == 3) {
      var slug = pathname_array[2];
      openInfo(slug);
    }
  });
</script>
