<%= stylesheet_link_tag    'pages', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag    'speakers', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="container">
  <%= render partial: 'navbar' %>
  <div id="myTitle" class="item title right">
    <h1>Oradores</h1>
  </div>
  <div id="myHidden" class="item hidden"></div>
  <div id="myMatrix_Hidden" class="item matrix_hidden">
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
  </div>
  <div id="myMatrix_Speaker" class="item matrix_speakers">
    <% @speakers.each do |speaker| %>
      <div class="square speaker" data-slug="<%= speaker.slug %>" style="background-image: url('<%= url_for speaker.image %>');" onclick="openInfo('<%= speaker.slug %>')">
        <div class="speaker_info">
          <span class="speaker_name"><%= speaker.name %></span><span><%= speaker.name %></span>
        </div>
      </div>
    <% end %>
    <% (1..7).each do |index| %>
      <div class="square speaker_temp">
        <div class="speaker_info">
          <span class="speaker_name">Por anunciar</span>
        </div>
      </div>
    <% end %>
  </div>
  <% @speakers.each do |speaker| %>
    <div id="myInfo" class="info_content info_noshow" data-slug="<%= speaker.slug %>">
      <div id="myMenuInfo" class="menuInfo" data-slug="<%= speaker.slug %>" onclick="openInfo('<%= speaker.slug %>')">
        <div class="bar1"></div>
        <div class="bar2"></div>
      </div>
      <h1><%= speaker.name %></h1>
      <% speaker.person_infos.each do |info| %>
        <% case info.category %>
        <% when 'title' %>
          <h1><%= info.content %></h1>
        <% when 'paragraph' %>
          <p><%= info.content %></p>
        <% when 'spacer' %>
          <hr/>
        <% when 'link' %>
          <% content = info.content.scan( /\A\[(.+)\] \(([\w\.\-\/]+)\)\z/ix )[0] %>
          <a target="_blank" href="<%= content[1] %>"><%= content[0] %></a>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <script>
    function openInfo(slug) {
      if($(".info_noshow[data-slug="+slug+"]").hasClass('info_show')) {
        $(".info_noshow[data-slug="+slug+"]").removeClass("info_show");
        $("#myHeader").removeClass("grayscale_toogle");
        $("#myNavbar").removeClass("grayscale_toogle");
        $("#myTitle").removeClass("grayscale_toogle");
        $("#myHidden").removeClass("grayscale_toogle");
        $("#myMatrix_Hidden").removeClass("grayscale_toogle");
        $("#myMatrix_Speaker").removeClass("grayscale_toogle");
        $("#myFooter").removeClass("grayscale_toogle");

        if(window.history.pushState) {
          window.history.pushState(null, '', '/speakers');
        }
      } else if($(".info_show").length !== 0) {
        $(".info_noshow").not("[data-slug="+slug+"]").removeClass('info_show');
        $(".info_noshow[data-slug="+slug+"]").addClass("info_show");

        if(window.history.pushState) {
          window.history.pushState(null, '', '/speakers/'+slug);
        }
      } else {
        $(".info_noshow[data-slug="+slug+"]").addClass("info_show");
        $("#myHeader").addClass("grayscale_toogle");
        $("#myNavbar").addClass("grayscale_toogle");
        $("#myTitle").addClass("grayscale_toogle");
        $("#myHidden").addClass("grayscale_toogle");
        $("#myMatrix_Hidden").addClass("grayscale_toogle");
        $("#myMatrix_Speaker").addClass("grayscale_toogle");
        $("#myFooter").addClass("grayscale_toogle");

        if(window.history.pushState) {
          window.history.pushState(null, '', '/speakers/'+slug);
        }
      }
    }
  </script>
  <div id="myFooter" class="item footer right">
    <p>Made with ♥ by <a href="https://nei.dei.uc.pt" target="_blank">NEI/AAC</a></p>
  </div>
</div>

<%= javascript_include_tag 'pages', 'data-turbolinks-track': 'reload' %>

<script type="text/javascript">
  $(document).ready(() => {
    var pathname = window.location.pathname;
    var pathname_array = pathname.split('/');
    if(pathname_array.length == 3) {
      var slug = pathname_array[2];
      openInfo(slug);
    }
  });
  $(".info_show").on("scroll", function(data) {
    console.log(data);
  });
</script>
