<%= stylesheet_link_tag    'pages', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag    'speakers', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="container">
  <div id="myHeader" class="item header center">
    <%= link_to root_path do %>
      <h1>ENEMM'19</h1>
    <% end %>
  </div>
  <div id="myNavbar" class="item navbar right">
    <div class="bs">
      <%= link_to 'Sobre', about_path %>
      <%= link_to 'Oradores', speakers_path %>
      <%= link_to 'Bilheteira', 'https://ti.to/encontro-nacional-de-estudantes-de-multimedia/2019' %>
    </div>
    <div class="ss">
      <div id="mySidenav" class="sidenav">
        <div class="lazy">
          <div class="menu_title center">
              <h1>ENEMM'19</h1>
          </div>
        </div>
        <div class="menu_links">
          <%= link_to about_path do %>
            <h1>Sobre</h1>
          <% end %>
          <%= link_to speakers_path do %>
            <h1>Oradores</h1>
          <% end %>
          <%= link_to 'https://ti.to/encontro-nacional-de-estudantes-de-multimedia/2019' do %>
            <h1>Bilheteira</h1>
          <% end %>
        </div>
      </div>
      <div id="myMenuIcon" class="menuIcon" onclick="myFunction(this), openNav(this)">
        <div id="myMenuIcon1" class="bar1"></div>
        <div id="myMenuIcon2" class="bar2"></div>
        <div id="myMenuIcon3" class="bar3"></div>
      </div>
      <script>
        function myFunction(x) {
          x.classList.toggle("change");
        }
        function openNav() {
          document.getElementById("mySidenav").classList.toggle("sidenavtoogle");
          document.getElementById("myMenuIcon").classList.toggle("menuIcontooglePosition");
          document.getElementById("myMenuIcon1").classList.toggle("menuIcontoogle");
          document.getElementById("myMenuIcon2").classList.toggle("menuIcontoogle");
          document.getElementById("myMenuIcon3").classList.toggle("menuIcontoogle");
        }
      </script>
    </div>
  </div>
  <div id="myTitle" class="item title right">
      <h1>Oradores</h1>
  </div>
  <div id="myHidden" class="item hidden"></div>
  <div id="myMatrix_Hidden" class="item matrix_hidden">
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
  </div>
  <div id="myMatrix_Speaker" class="item matrix_speakers">
    <div class="square speaker1" onclick="myFunction(this), openInfo(this)">
      <div class="speaker_info">
        <span class="speaker_name">Studio Mals</span><span>Studio Mals</span>
      </div>
    </div>
  </div>
  <div id="myInfo" class="info_noshow">
    <div id="myMenuInfo" class="menuInfo" onclick="openInfo(this)">
      <div class="bar1"></div>
        <div class="bar2"></div>
        </div>
        <h1>Studio Mals</h1>
        <h3>About our studio</h3>
        <p><strong>handcrafted eye-candy</strong></p>
        <p>Mals crafts high quality eye-catching images and film. Our work is often tangible -preferably handmade- and has a conceptual approach. Combined with a playful attitude, it results in a strong visual language.</p>
        <h3>About our talk</h3>
        <p>We know a simple portfolio slideshow is very boring. We prefer to show loads of behind the scenes and talk about the making of process. This way we can really get to the bottom of our ridiculously sexy crafted eye candy!</p>
        <a href="http://www.studiomals.com" target="_blank">Saber Mais</a>
      </div>
    </div>
    <script>
      function openInfo() {
        document.getElementById("myInfo").classList.toggle("info_show");
        document.getElementById("myHeader").classList.toggle("grayscale_toogle");
        document.getElementById("myNavbar").classList.toggle("grayscale_toogle");
        document.getElementById("myTitle").classList.toggle("grayscale_toogle");
        document.getElementById("myHidden").classList.toggle("grayscale_toogle");
        document.getElementById("myMatrix_Hidden").classList.toggle("grayscale_toogle");
        document.getElementById("myMatrix_Speaker").classList.toggle("grayscale_toogle");
        document.getElementById("myFooter").classList.toggle("grayscale_toogle");
      }
    </script>
  </div>
  <div id="myFooter" class="item footer right">
    <small>Made with ♥ by <a href="https://nei.dei.uc.pt" target="_blank">NEI/AAC</a></small>
  </div>
</div>

<%= javascript_include_tag 'pages', 'data-turbolinks-track': 'reload' %>
