<%= stylesheet_link_tag    'pages', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag    'speakers', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="container">
  <%= render partial: 'navbar' %>
  <div id="myTitle" class="item title right">
    <h1>Oradores</h1>
  </div>
  <div id="myHidden" class="item hidden"></div>
  <div id="myMatrix_Hidden" class="item matrix_hidden">
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
  </div>
  <div id="myMatrix_Speaker" class="item matrix_speakers">
    <% @speakers.each do |speaker| %>
      <div class="square speaker" data-slug="<%= speaker.slug %>" style="background-image: url('<%= image_url speaker.image_url %>');" onclick="openInfo('<%= speaker.slug %>')">
        <div class="speaker_info">
          <span class="speaker_name"><%= speaker.name %></span><span><%= speaker.name %></span>
        </div>
      </div>
    <% end %>
    <% (1..7).each do |index| %>
      <div class="square speaker_temp">
        <div class="speaker_info">
          <span class="speaker_name">Por anunciar</span>
        </div>
      </div>
    <% end %>
  </div>
  <div id="myInfo" class="info_content info_noshow" data-slug="studio-mals">
    <div id="myMenuInfo" class="menuInfo" data-slug="studio-mals" onclick="openInfo('studio-mals')">
      <div class="bar1"></div>
      <div class="bar2"></div>
    </div>
    <h1>Studio Mals</h1>
    <h3>Sobre o nosso estúdio</h3>
    <p>O Studio Mals produz imagens e filmagens cativantes e de alta qualidade. O seu trabalho é quase sempre tangível - de preferência feito à mão. Com uma abordagem conceptual, resulta numa forte linguagem visual.</p>
    <h3>Sobre a nossa sessão</h3>
    <p>Nós sabemos que uma simples apresentação de portfólio pode tornar-se bastante aborrecida. Preferimos mostrar o que se passa por trás de cada uma das nossas criações e discutir o nosso processo. Assim, torna-se mais fácil explicar como chegamos aos nossos produtos extremamente atraentes e chamativos!</p>
    <hr/>
    <h3>About our studio</h3>
    <p>Mals crafts high quality eye-catching images and film. Our work is often tangible -preferably handmade- and has a conceptual approach. Combined with a playful attitude, it results in a strong visual language.</p>
    <h3>About our talk</h3>
    <p>We know a simple portfolio slideshow is very boring. We prefer to show loads of behind the scenes and talk about the making of process. This way we can really get to the bottom of our ridiculously sexy crafted eye candy!  </p>
    <a href="http://www.studiomals.com" target="_blank">Saber Mais</a>
  </div>
  <div id="myInfo" class="info_content info_noshow" data-slug="pedro-pombo">
    <div id="myMenuInfo" class="menuInfo" data-slug="pedro-pombo" onclick="openInfo('pedro-pombo')">
      <div class="bar1"></div>
      <div class="bar2"></div>
    </div>
    <h1>Pedro Pombo</h1>
    <p>Pedro Pombo é Director da Fábrica Centro Ciência Viva de Aveiro, docente no Departamento de Física da Universidade de Aveiro e especialista em Holografia, Comunicação de Ciência e Ensino da Física. Desenvolve investigação em técnicas holográficas, holografia educacional, compreensão pública da ciência, STEAM na educação em ciência e ensino experimental da física. Desenvolve exposições, centros de ciência, espaços Maker, materiais educativos, cursos de formação. Foi coordenador de 3 projetos europeus, 9 exposições, 29 projetos nacionais e é autor de 1 capítulo de livro, 3 manuais escolares, mais de 50 publicações em revistas nacionais e internacionais e recebeu 9 prémios europeus.</p>
  </div>
  <div id="myInfo" class="info_content info_noshow" data-slug="rafaela-ferro">
    <div id="myMenuInfo" class="menuInfo" data-slug="rafaela-ferro" onclick="openInfo('rafaela-ferro')">
      <div class="bar1"></div>
      <div class="bar2"></div>
    </div>
    <h1>Rafaela Ferro</h1>
    <h3>Sobre mim</h3>
    <p>Designer e frontend developer na Deemaze Software, uma agência de software a criar produtos para web e mobile.</p>
    <a target="_blank" href="//rafaelaferro.com">rafaelaferro.com</a>
    <h3>Sobre a talk</h3>
    <p>Como parar de ver acessibilidade como um requisito extra, e integrar um processo de design+desenvolvimento inclusivo nas equipas de software. Vamos analisar algumas pré-concepções ligadas a acessibilidade e conversar sobre o papel de cada um na criação de tecnologia inclusiva.</p>
  </div>
  <script>
    function openInfo(slug) {
      if($(".info_noshow[data-slug="+slug+"]").hasClass('info_show')) {
        $(".info_noshow[data-slug="+slug+"]").removeClass("info_show");
        $("#myHeader").removeClass("grayscale_toogle");
        $("#myNavbar").removeClass("grayscale_toogle");
        $("#myTitle").removeClass("grayscale_toogle");
        $("#myHidden").removeClass("grayscale_toogle");
        $("#myMatrix_Hidden").removeClass("grayscale_toogle");
        $("#myMatrix_Speaker").removeClass("grayscale_toogle");
        $("#myFooter").removeClass("grayscale_toogle");

        if(window.history.pushState) {
          window.history.pushState(null, '', '/speakers');
        }
      } else if($(".info_show").length !== 0) {
        $(".info_noshow").not("[data-slug="+slug+"]").removeClass('info_show');
        $(".info_noshow[data-slug="+slug+"]").addClass("info_show");

        if(window.history.pushState) {
          window.history.pushState(null, '', '/speakers/'+slug);
        }
      } else {
        $(".info_noshow[data-slug="+slug+"]").addClass("info_show");
        $("#myHeader").addClass("grayscale_toogle");
        $("#myNavbar").addClass("grayscale_toogle");
        $("#myTitle").addClass("grayscale_toogle");
        $("#myHidden").addClass("grayscale_toogle");
        $("#myMatrix_Hidden").addClass("grayscale_toogle");
        $("#myMatrix_Speaker").addClass("grayscale_toogle");
        $("#myFooter").addClass("grayscale_toogle");

        if(window.history.pushState) {
          window.history.pushState(null, '', '/speakers/'+slug);
        }
      }
    }
  </script>
  <div id="myFooter" class="item footer right">
    <p>Made with ♥ by <a href="https://nei.dei.uc.pt" target="_blank">NEI/AAC</a></p>
  </div>
</div>

<%= javascript_include_tag 'pages', 'data-turbolinks-track': 'reload' %>

<script type="text/javascript">
  $(document).ready(() => {
    var pathname = window.location.pathname;
    var pathname_array = pathname.split('/');
    if(pathname_array.length == 3) {
      var slug = pathname_array[2];
      openInfo(slug);
    }
  });
  $(".info_show").on("scroll", function(data) {
    console.log(data);
  });
</script>
